<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Simple AirBNB", root_path, class: "navbar-brand" %>
    <%= link_to "Add New Flat", root_path, class: "btn btn-primary"%>
  </div>
</nav>